* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: brown;
}

.main-container {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 60px;
}

.forms-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.cards-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}
